/* CSS Document

Drew Britton
10/30/20
TINFO 220 HCI
Team 5
Kento Hibachi On Wheels II

Custom styling for the KentoHibachi homepage that
overrides the default bootstrap-4.4.1.css file.

*/

.kento-section {
    min-height: 500px;
}

.bg-kento-dark {
    background-color: #2A2929;
    color: white;
}

.bg-kento-light {
    background-color: white;
    color: #2A2929;
}

.navbar-kento {
  background-color: #23231F;
  border-color: white;
  border-radius: 0;
  margin-bottom: 0px;
}

.navbar-kento .navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-kento .nav-item > .nav-link {
  color: white;
}

.navbar-kento .nav-item > .nav-link:hover {
  background-color: #f7e3b1;
  color: grey;
}

.bg-kento-welcome {
    background-image: url("../images/IMG_7152.jpeg");
    background-size: cover;
    color: #4A463A;
}

.jumbotron-welcome {
    background-image: url("../images/kento-truck-eugene.png");
    background-size: cover;
    background-blend-mode: screen;
    color: white;
}

.card-header.collapsed {
    background: #2A2929;
}

.card-header:not(.collapsed) {
    background: #FFFFFF;
}

.accordion {
    background-color: #2A2929;
    color: #000000;
    border-color: yellowgreen;
}

h2 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    
}

h4 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 2.4em;
}
